{% extends "layout.html" %} 
{% block browsertitle %} Bucketlist | Create Bucket Activity {% endblock %}
{% block Custom_css %}
 <!-- Choosen -->
<link href="../static/css/chosen.min.css" rel="stylesheet">

{% endblock %}

{% block content %}               
<div id="content">
    <header>
        <h2 class="page_title">Create a New Bucket Activity</h2>
    </header>
    
    <div class="content-inner">
        <div class="form-wrapper">
            <form>
                <div class="form-group">
                    <label class="sr-only">Title</label>
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                    <label class="sr-only">Tags</label>
                    <select data-placeholder="Select tags" multiple name="tags" class="form-control chosen-select">
                    <option></option>
                    <option>Career</option>
                    <option>Politics</option>
                    <option>Business</option>                                    
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only">Description</label>
                    <textarea class="form-control" placeholder="Bucket Activity Description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label>
                    Add a Bucket Activity Image
                    <input type="file">
                    </label>
                </div> 
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Make Bucket Activity not visible to others
                    </label>
                </div> 
                
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Mark Bucket Activity as accomplished
                    </label>
                </div>
                <div class="clearfix">
                    <a href="/" class="btn btn-info pull-left">Cancel</a>
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%} 
{% block Custom_Scripts %} 
<!-- Chosen -->
<script src="../static/js/chosen.jquery.min.js"></script>

<!-- Script for Implementing Taging using chosen -->
<script type="text/javascript">
    var config = {
        '.chosen-select':{},
        '.chosen-select-deselect':{allow_single_deselect:true},
        '.chosen-select-no-single':{disable_search_threshold:10},
        '.chosen-select-no-result':{no_result_text:'Oops, nothing found!'},
        '.chosen-select-width': {width:"95%"}
    }
    
    for (var selector in config){
        $(selector).chosen(config[selector]);
    }
</script>
{% endblock%}  
               
            