<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block browsertitle %} Bucketlist | Home {% endblock %}</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Styles -->  
    <link href="../static/css/custom.css" rel="stylesheet">
    <link href="../static/css/bucket_activity_form.css" rel="stylesheet">
    <link href="../static/css/all_bucket_activities.css" rel="stylesheet">
    {% block Custom_css %} {% endblock%}       
  </head>
  <body>
   <div class="container-fluid display-table">
       <div class="row display-table-row">
           
           <!-- Side Menu Navigation -->
           <div class="col-md-2 col-sm-1 display-table-cell valign-top hidden-xs" id="side-menu">
              <h1 class="hidden-sm hidden-xs">Bucketlist</h1> 
               <ul>
                   <li class="link active">
                       <a href="#collapse-all-activities" data-toggle="collapse" aria-controls="collapse-all-Buckets">
                           <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                           <span class="hidden-sm hidden-xs">All Public Buckets</span>                          
                       </a>
                       <ul class="collapse collapseable" id="collapse-all-activities">
                           <li><a href="/">Public Buckets</a></li>
                           <li><a href="/create">Create New Activity<span class="glyphicon glyphicon-plus pull-right"></span></a></li>                            
                       </ul>
                   </li>
                   <li class="link">
                       <a href="#collapse-my-activities" data-toggle="collapse" aria-controls="collapse-my-activities">
                           <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                           <span class="hidden-sm hidden-xs">Manage My Bucketlist</span>                         
                       </a>
                       <ul class="collapse collapseable" id="collapse-my-activities">
                           <li><a href="/my_bucket_activities">All My Buckets</a></li>
                           <li><a href="/my_public_bucket_activities">My Public Buckets</a></li>
                           <li><a href="/my_private_bucket_activities">My Private Buckets</a></li>
                       </ul>
                   </li>
                   <li class="link settings-btn">
                       <a href="/profile">
                           <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                           <span class="hidden-sm hidden-xs">Manage Account</span>
                       </a>
                   </li>
               </ul>
           </div>
           <!-- End Side Menu Navigation -->
           <!-- Main Content Area -->
           <div class="col-md-10 col-sm-11 display-table-cell valign-top">
               
               <div class="row">
                <header id="nav-header" class="clearfix">
                   <div class="col-md-5">
                       
                       <!-- Side Bar Toggle -->
                       <nav class="navbar-default pull-left">
                           <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu">
                               <span class="sr-only">Toggle Navigation</span>                               
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                           </button>
                       </nav>
                       <!-- Side Bar Toggle -->                       
                      
                    </div>
                   <div class="col-md-12">
                       <ul class="pull-right">
                           
                           <li id="welcome" class="hidden-sm hidden-xs">
                               Welcome back jmwashuma@live.com
                           </li>                     
                           
                            <li id="menuLogin">
                            <a class="btn btn-xs btn-primary" href="/login" id="navLogin">Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
                          
                        </li>
                           
                       </ul>
                    </div>
                </header>
               </div>

                {% block content %} {% endblock %}

                <!-- Footer -->               
               <div class="row">
                   <footer id="bucketlist-footer" class="clearfix">
                       <div class="pull-left">©2017 All Rights Reserved. Bucketlist. Privacy and Terms</div>
                       <div class="pull-right"> Developed by John Mwashuma</div>
                   </footer>
               </div>
               <!-- Footer -->
               
           </div>
            <!-- End Main Content Area -->
       </div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="../static/js/custom.js"></script>
     {% block Custom_Scripts %} {% endblock%}  
  </body>
</html>