{% extends "layout.html" %} 
{% block browsertitle %} Bucketlist | Create Wish {% endblock %}

{% block content %}               
<div id="content">
    <header>
        <h2 class="page_title">Create a New Wish</h2>
    </header>
    
    <div class="content-inner">
        <div class="form-wrapper">
            <form action="" method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                    <label class="sr-only">Title</label>
                    {{ form.title(placeholder="Title", class="form-control" ) }}                   
                </div>             
                <div class="form-group">
                    <label class="sr-only">Description</label>
                     {{ form.description(placeholder="Wish Description...", class="form-control" ) }} 
                    
                </div>
              
                <div class="checkbox">
                    <label>
                        {{ form.wish_status(type="checkbox", value="true") }} 
                       Make wish not visible to others
                    </label>
                </div> 
                
                <div class="checkbox">
                    <label>
                        {{ form.wish_progress(type="checkbox", value="true") }} 
                         Mark wish as accomplished
                    </label>
                </div>
                <div class="clearfix">
                    <a href="/" class="btn btn-info pull-left">Cancel</a>
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%} 

               
            